.hline {
    border-top: 2px solid #b2b9c3; /* Adjust the thickness and color as needed */
    margin: 20px 0; /* Adjust the spacing as needed */
    margin-bottom: 5px;
}

.red {
    color: #b42121;
}

.white {
    color: #ffffff;
}

.light-red {
    color: #ee2c2c;
}

.blue {
    color: #1656aa;
}

.light-blue {
    color: #394ae0;
}

.orange{
    color: #cba823;
}

.green {
    color: #53a343;
}

.blur {
    color: #dbdedf;
}

.yellow {
    color: #ebc909;
}

.purple {
    color: #7513a3;
}

.sbr {
    display: block;
    margin: -5px 0; /* Smaller padding */
}

.up1 {
    display: block;
    margin: -10px 0; /* Adjust the vertical space as needed */
    /*padding: -10px 0; /* Smaller padding */
}

.up2 {
    display: block;
    margin: -20px 0; /* Smaller padding */
}

.up3 {
    display: block;
    margin: -30px 0;  /* Smaller padding */
}

.up4 {
    display: block;
    margin: -40px 0; /* Smaller padding */
}

.up5 {
    display: block;
    margin: -50px 0; /* Smaller padding */
}

.secbr {
    display: block;
    margin: 2px 0; /* Adjust the vertical space as needed */
}

.br0 {
    display: block;
    margin: 5px 0; /* Adjust the vertical space as needed */
}

.br1 {
    display: block;
    margin: 10px 0; /* Adjust the vertical space as needed */
}

.footnote {
    font-size: 0.6em; /* Set the font size */
    margin-top: 1px;  /* Set the space from the text above */
}

.section{
    font-size: 1.1em; /* Set the font size */
    margin-top: 1px;  /* Set the space from the text above */
    font-weight: 500;
    color: #345a8b;
    font-weight: 500;
}

.notes {
    position: absolute;
    bottom: 10px; /* Adjust the distance from the bottom */
    right: 10px;  /* Adjust the distance from the right */
    font-size: 0.8em; /* Adjust the font size as needed */
    background-color: rgba(255, 255, 255, 0.8); /* Optional: Add a background color with transparency */
    padding: 5px; /* Optional: Add some padding */
    border-radius: 5px; /* Optional: Add rounded corners */
}

.centering {
    margin: auto;
    width: 50%;
    padding: 10px;
  }